<div class="container">
  <% if @last_answer_correct != nil %>
    <% if @last_answer_correct == true %>
      <div class="alert alert-success" role="alert">Great job saving the planet!</div>
    <% else %>
      <div class="alert alert-danger" role="alert">Better luck next time. :/</div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Which bin does this go in?</h2  >
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="img-thumbnail" src="<%= @image_to_display %>">
      <p></p>
    </div>
  </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 bin-option">
          <p>
            <a class="btn btn-default btn-lg" href="quiz?image=<%= @next_image_number %>&last_answer_correct=<%= @landfill %>&correct_answer_count=<%= @correct_answer_count %>" class="landfill"
            >
              Landfill
            </a>
        </div>
        <div class="col-md-4 bin-option">
          <p>
            <a class="btn btn-primary btn-lg" href="quiz?image=<%= @next_image_number %>&last_answer_correct=<%= @recycle %>&correct_answer_count=<%= @correct_answer_count %>" class="recycle">Recycle</a>
          </p>
       </div>
        <div class="col-md-4 bin-option">
          <p>
            <a class="btn btn-success btn-lg" href="quiz?image=<%= @next_image_number %>&last_answer_correct=<%= @compost %>&correct_answer_count=<%= @correct_answer_count %>" class="compost">Compost</a>
          </p>
        </div>
      </div>

